{% extends "base/base.html" %}

{% block header %}
    <script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>
    <script defer src="{{url_for("static", filename="js/bloqueo/utils.js")}}"></script>
   
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="table-responsive">
        <table class="table table-striped table-hover" id="listado_con_vto">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Denominacion</th>
                    <th>Número Único</th>
                    <th>Estado</th>
                    <th>Planilla</th>
                    <th>Motivo</th>
                    <th>Observaciones</th>
                    <th>Responsable</th>
                    <th>Fecha de Bloq/Lib</th>
                    <th>Selección</th>
                </tr>
            </thead>
            <tbody>
                {% for l in listado %}
                <tr>
                    <td>
                        {{loop.index + offset}}
                    </td>
                    <td>
                        {{l.mden or l.hden or l.eden}}
                    </td>
                    <td>
                        {{l.m_numero_unico or l.h_numero_unico or l.e_numero_unico}}
                    </td>
                    <td>
                        {{l.estado or '-'}}
                    </td>
                    <td>
                        {{l.numero_planilla or '-'}}
                    </td>
                    <td>
                        {{l.motivo or '-'}}
                    </td>
                    <td class="observacion_listado">
                        {{l.observaciones or '-'}}
                    </td>
                    <td>
                        {{l.nombre or '-'}}
                    </td>
                    <td>
                        {{l.fecha_registro.strftime('%Y-%m-%d %H:%M') if l.fecha_registro else '-'}}
                    </td>
                    <td>
                        <button class="btn btn-primary" 
                            onclick='mostrarModal(
                                "{{ l.m_numero_unico or l.h_numero_unico or l.e_numero_unico }}", 
                                "{{ l.mden or l.hden or l.eden }}", 
                                "{% if l.estado == 'Liberado' or l.estado is none or l.estado == '' %}True{% elif l.estado == 'Bloqueado' %}False{% else %}False{% endif %}",
                                "{{ l.numero_planilla or '' }}", 
                                "{{ l.motivo_id or '' }}", 
                                "{{ l.observaciones or '' }}"
                            )'>
                            Cambiar
                        </button>



                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- modal -->
<div class="modal fade" id="modalCambiar" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Bloqueo / Liberacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/bloqueo/cambiar">
                    <div class="mb-3">
                        <label class="form-label">Número Único</label>
                        <input type="text" id="modalId" name="numero_unico" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Denominación</label>
                        <input type="text" id="modalNombre" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="modalEstado" name="estado" role="switch" onclick="return false">
                            <label class="form-check-label">Bloqueado</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Número de Planilla</label>
                        <input min="0" type="number" id="modalPlanilla" name="numero_planilla" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Motivo</label>
                        <select required class="form-select" name="motivo" id="modalMotivo">
                            <option value=""></option>
                            {% for m in motivos %}
                                <option value="{{m.id}}">{{m.motivo}}</option>
                            {% endfor%}
                        </select>
                        
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Observaciones</label>
                        <input type="text" id="modalObservaciones" name="observaciones" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
 <!-- modal end -->

<div class="text-center">
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% set rango_mostrado = 2 %} {# Cantidad de páginas antes y después de la actual que se mostrarán #}
            {% set mostrar_inicio = 1 %}
            {% set mostrar_final = total_paginas %}
            
            <li class="page-item">
                {% if pagina_actual > 1 %}
                <a class="page-link" href="{{ url_for('bloqueo.bloqueo_listado', terminos_de_busqueda=terminos_de_busqueda, page=pagina_actual - 1) }}">Anterior</a>
                {% endif %}
            </li>
            
            {# Mostrar enlace a la primera página si no está cerca del rango #}
            {% if pagina_actual > rango_mostrado + 2 %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('bloqueo.bloqueo_listado', terminos_de_busqueda=terminos_de_busqueda, page=mostrar_inicio) }}">{{ mostrar_inicio }}</a>
                </li>
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            
            {# Páginas cercanas al rango #}
            {% for i in range(max(mostrar_inicio, pagina_actual - rango_mostrado), min(mostrar_final, pagina_actual + rango_mostrado) + 1) %}
                <li class="page-item {% if i == pagina_actual %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('bloqueo.bloqueo_listado', terminos_de_busqueda=terminos_de_busqueda, page=i) }}">{{ i }}</a>
                </li>
            {% endfor %}
            
            {# Mostrar enlace a la última página si no está cerca del rango #}
            {% if pagina_actual < total_paginas - rango_mostrado - 1 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('bloqueo.bloqueo_listado', terminos_de_busqueda=terminos_de_busqueda, page=mostrar_final) }}">{{ mostrar_final }}</a>
                </li>
            {% endif %}
            
            <li class="page-item">
                {% if pagina_actual < total_paginas %}
                <a class="page-link" href="{{ url_for('bloqueo.bloqueo_listado', terminos_de_busqueda=terminos_de_busqueda, page=pagina_actual + 1) }}">Siguiente</a>
                {% endif %}
            </li>
        </ul>
    </nav>

    <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>

</div>
    

{% endblock %}