{% extends "base/base.html" %}

{% block header %}
<script defer src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>

{% endblock %}

{% block content %}
    <div class="row m-4 justify-content-center">
        <input type="text" id="barcode_text" hidden value="{{bloqueados["bloqueado_mercaderia"]}}">
        <svg id="barcode"></svg>
    </div>
    
    <div class="row m-4 justify-content-center">
        <div class="alert alert-light col-lg-6 col-md-9 col-sm-12" role="alert">
            <table id="descripcion" class="table-bordered col-12">
                
                <tr>
                    <th>Denominacion:</th>
                    <td>{{bloqueados["den"]}}</td>
                </tr>

                <tr>
                    <th>Lote</th>
                    <td>{{bloqueados["lote"]}}</td>
                </tr>
                <tr>
                    <th>Fecha Bloqueo</th>
                    <td class="fecha_registro">{{bloqueados["fecha_registro"].strftime('%Y-%m-%d %H:%M')}}</td>
                </tr>
                
                <tr>
                    <th>Numero único:</th>
                    <td>{{bloqueados["bloqueado_mercaderia"]}}</td>
                </tr>
                
                
                
               
                
                <tr>
                    <th>Motivos:</th>
                    <td>{{bloqueados["motivo"]}}</td>
                </tr>
                <tr>
                    <th>Observaciones:</th>
                    <td>{{bloqueados["observaciones"]}}</td>
                </tr>
                <tr>
                    <th>Responsable:</th>
                    <td>{{bloqueados["nombre"]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="m-2 text-center">
            <button class="btn btn-primary" id="print-barcode">Imprimir Código de Barras</button>
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
            
        </div>
    </div>
{% endblock %}