{% extends "base/base.html" %}

{% block header %}
    
  </form>
<form id="miFormulario">
    <input type="number" class="form-control-plaintext">
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">NºPallets</span>
            <input type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
          

    <body>
        <h2>DATOS DE PRODUCCIÓN</h2>
        <table>
            <tr>
                <td class="bold">Fecha:</td>

                <td>30-08-2024</td>
                <td class="bold">Hora:</td>
                <td>15:30:18</td>
                <td class="bold">Lote:</td>
                <td>5-001-001</td>
            </tr>
        </table>
    </body>
    <body>
        <table>
            <tr>
                <td class="bold">Cod.Producto:</td>
                <td>1011023356</td>
            </tr>
            <tr>
                <td class="bold">Den.Producto:</td>
                <td>MI Lata 8 Corper</td>
            </tr>
            <tr>
                <td class="bold">Cantidad:</td>
                <td>115</td>
            </tr>
            <tr>
                <td class="bold">Ubicacion:</td>
                <td>010101</td>
            </tr>
        </table>
    </body>
    <h2>DETALLE DEL BLOQUEO</h2>
    <p>
        <label class="bold" for="nombre">Motivo del Bloqueo:</label>
        <input class="" type="text" id="nombre" name="nombre" value="" required>
    </p>
    <p>
        <label class="bold" for="nombre">Responsable:</label>
        <input type="text" id="Responsable" name="nombre" value="" required>
    </p>
    <p>
        <label class="bold" for="nombre">Observación:</label>
        <input type="text" id="nombre" name="nombre" value="" required>
    </p>
    <p>
        <label class="bold" for="nombre">Num.Planilla:</label>
        <input type="number" id="nombre" name="nombre" value="" required>
    </p>
    <div class="col-auto">
        <input type="submit" class="btn btn-primary mb-3" value="BUSCAR">
        <input type="button" value="BLOQUEAR" onclick="resetInput()">
        
    </div>
    
</form>

<script>
function resetInput() {
    document.getElementById('nombreS').value = ''; // Limpiar el campo de text
}
</script>


    <!-- <h1>{% block title %} {{title}} {% endblock %}</h1>
    <label for="codigo">Ingrese número de pallets:</label>
    <input type="number" id="codigo" name="codigo"required>
    <button type="button" onclick="">BUSCAR</button>
    <label for="codigo">Motivo de bloqueo:</label>
    <button type="button" onclick="resetInput()">BLOQUEAR</button>
    <script>
        function resetInput() {
            document.getElementById('').value = ''; // Limpiar el campo de texto
        }
        </script> -->
{% endblock %}

{% block content %}
   
{% endblock %}