{% extends "base/base.html" %}

{% block header %}

{% endblock %}

{% block content %}
<h2 class="container-fluid">
    {{body}}
</h2>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      ACCIONES DE BLOQUEO
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/bloqueos/agregar">Agregar</a></li>
      <li><a class="dropdown-item" href="/bloqueos/editar">Editar</a></li>
      <li><a class="dropdown-item" href="#">Listado</a></li>
    </ul>
  </div>
  <h1>
    estadisticas de bloqueos
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
    

  
  
  
{% endblock %}