[class*="-success"] {
    color: white;
    background: #50aa2e !important;
}
/* [class*="-danger"] {
    color: white;
    background: #d71120 !important;
} */
[class*="-primary"] {
    color: white;
    background: #264eaa !important;
}
[class*="-secondary"] {
    color: white;
    background: #6b7280 !important;
}

#descripcion_reacondicionado {
    position: absolute;
    left: -9999px; /* Fuera del viewport */
    top: -9999px;
    opacity: 0;    /* Invisible */
}

.glow-text {
    animation: blink 5.6s infinite; /* Ciclo total de 5.6 segundos (0.6s para 3 parpadeos + 5s de pausa) */
}

table th,
table td {
    white-space: nowrap; /* Por defecto, no permite ajuste de líneas */
    overflow: hidden;
    text-overflow: ellipsis;
}

.observacion_listado {
    white-space: normal; /* Permite ajuste de líneas solo para la columna Observación */
    word-wrap: break-word; /* Divide las palabras largas si es necesario */
}

@keyframes blink {
    0%, 5% { opacity: 0; }    /* Primer parpadeo encendido */
    7%, 12% { opacity: 1; }   /* Primer parpadeo apagado */
    14%, 19% { opacity: 0; }  /* Segundo parpadeo encendido */
    21%, 26% { opacity: 1; }  /* Segundo parpadeo apagado */
    28%, 33% { opacity: 0; }  /* Tercer parpadeo encendido */
    35%, 100% { opacity: 1; } /* Tercer parpadeo apagado seguido de pausa */
}


