{% extends "base/base.html" %}

{% block header %}
   
{% endblock %}

{% block content %}
    <h2 class="container-fluid"> 
        <h3>Novedades</h4>
        <h6>2025-01-07</h6>
        <ul>
            <li>Se habilita la modificacion de productos de primera generacion (T1)</li>
        </ul>
        <h6>2025-01-06</h6>
        <ul>
            <li>Se incluyen articulos de reproceso en la seccion de semielaborado</li>
            <li>Se arregla bug de prefijo de numero único</li>
        </ul>
        <h6>2025-01-05</h6>
        <ul>
            <li>Se habilita la anulacion de insumos</li>
            <li>Se configura el deslogueo automatico en 8 hs</li>
            <li>Se amplia la búsqueda con términos compuestos entre comillas simples 'ejemplo'</li>
        </ul>
        <h6>2025-01-03</h6>
        <ul>
            <li>Se deja parpadeando el nombre de usuario como recordatorio del logueo actual</li>
        </ul>
        <h6>2025-01-02</h6>
        <ul>
            <li>Se actualiza el vencimiento de L3 a 36 meses</li>
        </ul>
        <h6>2024-12-31</h6>
        <ul>
            <li>Se incluyen novedades en la home</li>
            <li>Se arregla bug de ubicaciones</li>
            <li>Se habilita la anulacion de mercaderia</li>
            <li>Se habilita la anulacion de ubicaciones</li>
            <li>Alta de usuarios nuevos</li>
            <li>Se amplia la búsqueda de ubicaciones por producto</li>
            <li>Modulo de reportes disponible (ubicaciones pendientes)</li>
            <li>Se estabiliza el escaneo de la cámara</li>
        </ul>
        <h6>2024-12-18</h6>
        <ul>
            <li>Se comienza la registracion con el sistema</li>
        </ul>
    </h2>
{% endblock %}