{% extends "base/base.html" %}

{% block header %}
   
{% endblock %}

{% block content %}
    <h2 class="container-fluid"> 
        <h3 class="m-5 text-center">Novedades</h4>
        <h6>2025-05-23</h6>
        <ul>
        <li>Se actualiza la página novedades</li>
        </ul>

        <h6>2025-05-22</h6>
        <ul>
        <li>Se deshabilita el campo brix en extracto</li>
        </ul>

        <h6>2025-05-20</h6>
        <ul>
        <li>Se agrega la anulación de T2</li>
        </ul>

        <h6>2025-05-19</h6>
        <ul>
        <li>Se muestran los escaneos más recientes primero</li>
        <li>Corrección de errores</li>
        <li>Se agrega patente y pin a despachos</li>
        <li>Se muestra lote de T2 en reportes de despachos</li>
        </ul>

        <h6>2025-05-02</h6>
        <ul>
        <li>Corrección de errores</li>
        <li>Se incorporan permisos de acciones</li>
        </ul>

        <h6>2025-04-21</h6>
        <ul>
        <li>Corrección de errores</li>
        <li>Mejoras de presentación</li>
        </ul>

        <h6>2025-04-10</h6>
        <ul>
        <li>Se asignan 720 unidades para botellas de 1020</li>
        <li>Se libera el formato de patentes</li>
        </ul>

        <h6>2025-04-08</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-04-07</h6>
        <ul>
        <li>Se incorporan permisos de submódulos</li>
        </ul>

        <h6>2025-04-03</h6>
        <ul>
        <li>Se muestra número parcial de escaneos en despachos</li>
        </ul>

        <h6>2025-04-01</h6>
        <ul>
        <li>Chequeo de conexión</li>
        <li>Se agrega la sección retiro</li>
        <li>Se agrega la sección báscula</li>
        </ul>

        <h6>2025-03-18</h6>
        <ul>
        <li>Se agrega llenadora de botella a API KPI</li>
        <li>Mejora de seguridad</li>
        </ul>

        <h6>2025-03-17</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-03-11</h6>
        <ul>
        <li>Mejora en impresión</li>
        <li>Se agrega listado de usuarios online</li>
        </ul>

        <h6>2025-03-07</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-03-04</h6>
        <ul>
        <li>Buscar y listar por campo llenadora</li>
        <li>Se agrega el registro de llenadora</li>
        </ul>

        <h6>2025-02-26</h6>
        <ul>
        <li>Se muestran fleteros y productores juntos en la sección materia</li>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-02-24</h6>
        <ul>
        <li>Se agrega clase para pouch</li>
        </ul>

        <h6>2025-02-20</h6>
        <ul>
        <li>Apertura API KPI</li>
        </ul>

        <h6>2025-02-19</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-02-18</h6>
        <ul>
        <li>Se quita sección encajonado (línea)</li>
        </ul>

        <h6>2025-02-16</h6>
        <ul>
        <li>Se agrega vencimiento y cantidad en reporte de ubicaciones</li>
        </ul>

        <h6>2025-02-12</h6>
        <ul>
        <li>Número de planilla alternativo para bloqueo</li>
        <li>Se agrega la sección bloqueo</li>
        </ul>

        <h6>2025-02-04</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>

        <h6>2025-01-29</h6>
        <ul>
        <li>Se agrega el reporte de despachos</li>
        <li>Se agrega la sección despachos</li>
        </ul>

        <h6>2025-01-17</h6>
        <ul>
        <li>Se agrega la sección IPM</li>
        </ul>

        <h6>2025-01-15</h6>
        <ul>
        <li>Unidades automáticas para marca "Cuisine"</li>
        <li>Se agrega el reporte de ubicaciones</li>
        </ul>

        <h6>2025-01-08</h6>
        <ul>
        <li>Corrección de errores</li>
        </ul>


        <hr>

        <h6>2025-01-07</h6>
        <ul>
            <li>Se habilita la modificacion de productos de primera generacion (T1)</li>
        </ul>
        <h6>2025-01-06</h6>
        <ul>
            <li>Se incluyen articulos de reproceso en la seccion de semielaborado</li>
            <li>Se arregla bug de prefijo de numero único</li>
        </ul>
        <h6>2025-01-05</h6>
        <ul>
            <li>Se habilita la anulacion de insumos</li>
            <li>Se configura el deslogueo automatico en 8 hs</li>
            <li>Se amplia la búsqueda con términos compuestos entre comillas simples 'ejemplo'</li>
        </ul>
        <h6>2025-01-03</h6>
        <ul>
            <li>Se deja parpadeando el nombre de usuario como recordatorio del logueo actual</li>
        </ul>
        <h6>2025-01-02</h6>
        <ul>
            <li>Se actualiza el vencimiento de L3 a 36 meses</li>
        </ul>
        <h6>2024-12-31</h6>
        <ul>
            <li>Se incluyen novedades en la home</li>
            <li>Se arregla bug de ubicaciones</li>
            <li>Se habilita la anulacion de mercaderia</li>
            <li>Se habilita la anulacion de ubicaciones</li>
            <li>Alta de usuarios nuevos</li>
            <li>Se amplia la búsqueda de ubicaciones por producto</li>
            <li>Modulo de reportes disponible (ubicaciones pendientes)</li>
            <li>Se estabiliza el escaneo de la cámara</li>
        </ul>
        <h6>2024-12-18</h6>
        <ul>
            <li>Se comienza la registracion con el sistema</li>
        </ul>
    </h2>
{% endblock %}