{% extends "base/base.html" %}

{% block header %}
    <script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>

{% endblock %}

{% block content %}

<div class="container col-sm-12 col-md-8 col-lg-6">

    <form action="/envasado/buscar" method="post">
        <div class="m-3">
            <label class="form-label" for="buscar">Buscar</label>
            <input class="form-control" required
            placeholder="Ingrese numero de parte, lote, fechas, observaciones" 
            type="text" id="buscar" name="buscar">
        </div>
        <div class="m-3">
            <button type="submit" class="btn btn-primary col-12">Buscar</button>
        </div>
    </form>

    <div class="m-3">
        <a href="{{url_for('envasado.envasado_agregar')}}" class="btn btn-success col-12">Agregar</a>
    </div>
    <div class="m-3">
        <a href="javascript:void(0);" class="btn btn-secondary col-12" onclick="boton_volver()">Volver</a>

    </div>
    



</div>
{% endblock %}