{% extends "base/base.html" %}

{% block header %}
<script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>
<script defer src="{{url_for("static", filename="js/intervenciones/utils.js")}}"></script>

{% endblock %}

{% block content %}
    <div class="row m-4 justify-content-center">
        <div class="alert alert-light col-lg-6 col-md-9 col-sm-12" role="alert">
            <table id="descripcion" class="table-bordered col-12">
                <tr>
                    <th>Línea:</th>
                    <td>{{intervencion["linea"]}}</td>
                </tr>
                <tr>
                    <th>Fallo:</th>
                    <td>{{intervencion["fallo"]}}</td>
                </tr>
                <tr>
                    <th>Se detuvo:</th>
                    <td>
                        {% if intervencion["se_detuvo"] %}
                            Sí
                        {% else %}
                            No
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <th>Inicio de la intervención:</th>
                    <td>{{intervencion["inicio"].strftime('%Y-%m-%d %H:%M')}}</td>
                </tr>
                <tr>
                    <th>Fin de la intervención:</th>
                    <td>{{intervencion["fin"].strftime('%Y-%m-%d %H:%M')}}</td>
                </tr>
                <tr>
                    <th>Duración:</th>
                    <td class="duracion">{{intervencion["duracion"]}}</td>
                </tr>
                <tr>
                    <th>Quedó operativa:</th>
                    <td>
                        {% if intervencion["quedo_operativa"] %}
                            Sí
                        {% else %}
                            No
                        {% endif %} 
                    </td>
                </tr>
                <tr>
                    <th>Imagenes:</th>
                    <td>
                            {% for img in imagenes %}
                                <div>
                                    <a href="{{ img }}">{{ img.replace('\\', '/').split('/')[-1] }}</a>
                                </div>
                            {% endfor %}
                    </td>
                    </tr>
                <tr>
                    <th>Detalle:</th>
                    <td>{{intervencion["detalle"]}}</td>
                </tr>
                <tr>
                    <th>Registro:</th>
                    <td>{{intervencion["fecha_registro"].strftime('%Y-%m-%d %H:%M')}}</td>
                </tr>
                <tr>
                <tr>
                    <th>Responsable:</th>
                    <td>{{intervencion["nombre"]}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="m-2 text-center">
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
            
        </div>
    </div>
{% endblock %}