{% extends "base/base.html" %}

{% block header %}
    <script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>
    <script defer src="{{url_for("static", filename="js/reacondicionado/utils.js")}}"></script>

{% endblock %}

{% block content %}

<form action="agregar" method="post" onsubmit="return validarFormulario()">

    <div class="row m-4 justify-content-center">
        <label for="operario" class="col-sm-2 col-form-label">Operario</label>
        <div class="col-sm-5">
            <input readonly maxlength="30" type="text" class="form-control" 
            name="user_name" id="user_name" value="{{session["nombre"]}}">
            <input type="hidden" id="user_id" name="user_id" value="{{session["id"]}}">
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label for="denominacion" class="col-sm-2 col-form-label">Denominacion</label>
        <div class="col-sm-5">
            <input list="denominacion_opciones" required type="text" 
            class="form-control" name="denominacion" id="denominacion"
            onblur="validarMarca(); rellenarCantidad()" oninput="actualizarValoresOcultos()">
            <input type="hidden" id="cod_cls" name="cod_cls">
            <input type="hidden" id="cod_mae" name="cod_mae">
            <datalist id="denominacion_opciones">
                {% for p in productos_arballon %}
                    <option value="{{ p.den | trim }}" 
                    data-cod-cls="{{ p.cod_cls | trim }}" 
                    data-cod-mae="{{ p.cod_mae | trim }}">
                    </option>
                {% endfor %}
            </datalist>
        </div>

    </div>
    <div class="row m-4 justify-content-center">
        <label for="parte" class="col-sm-2 col-form-label">Numero de parte</label>
        <div class="col-sm-5">
            <input required type="text" class="form-control" 
            value="{{ proximo_id }}"
            name="numero_unico" id="numero_unico"
            title="(Ej: 2024-R1-000001)" pattern="^\d{4}-(T2)-\d{6}$">
        </div>
    </div>
    <div class="row m-4 justify-content-center">
        <label for="parte" class="col-sm-2 col-form-label">Composición</label>
        <div class="col-sm-5">
            <a id="btn_agregar" class="btn btn-outline-primary">Agregar</a>
        </div>
    </div>

    <div id="contenedor_partes">
            
    </div>
    

    <div class="row m-4 justify-content-center">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="observaciones" name="observaciones" 
            rows="4" maxlength="1000" placeholder="Ingrese observaciones"></textarea>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label class="col-sm-2" for="tipo_reacondicionado">Tipo de reacondicionado</label>
        <div class="col-sm-5">
            <input list="tipo_reacondicionado_opciones" required type="text" 
            class="form-control" name="tipo_reacondicionado" id="tipo_reacondicionado"
            onblur="validarTipoDeReacondicionado();"
            >
            <datalist id="tipo_reacondicionado_opciones">
                <option value="Reacondicionado"></option>
                <option value="Etiquetado"></option>
                <option value="Encajonado"></option>
                <option value="Reproceso"></option>
            </datalist>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <div class="m-2 text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
        </div>
    </div>
</form>

{% endblock %}