{% extends "base/base.html" %}

{% block header %}
<script defer src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>

{% endblock %}

{% block content %}
    <div class="row m-4 justify-content-center">
        <input type="text" id="barcode_text" hidden value="{{reacondicionado["reacondicionado"][0]["numero_unico"]}}">
        <svg id="barcode"></svg>
    </div>
    <div class="row m-4 justify-content-center">
        <div class="alert alert-light col-lg-6 col-md-9 col-sm-12" role="alert">
            <table id="descripcion" class="table-bordered col-12">
                {% for r in reacondicionado["reacondicionado"]%}
                <tr>
                    <th>Denominacion:</th>
                    <td>{{r["den"]}}</td>
                </tr>
                <tr>
                    <th>Numero único:</th>
                    <td>{{r["numero_unico_original"]}}</td>
                </tr>
                <tr>
                    <th>Fecha de Elaboracion:</th>
                    <td class="fecha_elaboracion">{{r["fecha_elaboracion"].strftime('%Y-%m-%d %H:%M')}}</td>
                </tr>
                <tr>
                    <th>Vencimiento:</th>
                    <td hidden class="meses">{{r["meses"]}}</td>
                    <td class="vencimiento"></td>
                </tr>
                <tr>
                    <th>Lote:</th>
                    <td>{{r["lote"]}}</td>
                </tr>
                <tr>
                    <th>Cantidad:</th>
                    <td>{{r["cantidad"]}}</td>
                </tr>
                <tr>
                    <th>Observaciones:</th>
                    <td>{{r["observacion"]}}</td>
                </tr>
                <tr>
                    <th>Responsable:</th>
                    <td>{{r["nombre"]}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="background-color: #f0f0f0; height: 5px;"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="m-2 text-center">
            <button class="btn btn-primary" id="print-barcode">Imprimir Código de Barras</button>
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
            
        </div>
    </div>
{% endblock %}