{% extends "base/base.html" %}

{% block header %}
<script defer src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>
<script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>

{% endblock %}

{% block content %}
    <div class="row m-4 justify-content-center">
        <input type="text" id="barcode_text" hidden value="{{reacondicionado["reacondicionado"][0]["numero_unico"]}}">
        <svg id="barcode"></svg>
    </div>
    <div class="row m-4 justify-content-center">
        <div class="alert alert-light col-lg-6 col-md-9 col-sm-12" role="alert">
            
            <table class="table-bordered col-12">
                <!-- Datos principales del producto -->
                <tr>
                    <td>Número único</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["numero_unico"] }}</td>
                </tr>
                <tr>
                    <td>Denominación</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["nueva_den"] }}</td>
                </tr>
                <tr>
                    <td>Tipo de reacondicionado</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["tipo_reacondicionado"] }}</td>
                </tr>
                <tr>
                    <td>Cantidad</td>
                        <td>
                            {{ reacondicionado["reacondicionado"] | sum(attribute="cantidad") }}
                        </td>
                </tr>
                <tr>
                    <td>Observaciones</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["observaciones"] }}</td>
                </tr>
                <tr>
                    <td>Responsable</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["nombre"] }}</td>
                </tr>
                <tr>
                    <td>Fecha de registro</td>
                    <td>{{ reacondicionado["reacondicionado"][0]["fecha_registro"] }}</td>
                </tr>
            </table>
            
            <hr> <!-- Separador entre los datos del producto y la composición -->
            
            <!-- Iterar sobre las composiciones -->
            {% for item in reacondicionado["reacondicionado"] %}
                <table class="table-bordered col-12">
                    <tr>
                        <td>Denominacion</td>
                        <td>{{item["m_den"] or item["e_den"] or item["m2_den"] or item["e2_den"]}}</td>
                    </tr>
                    <tr>
                        <td>Número único</td>
                        <td>{{item["m_numero_unico"] or item["e_numero_unico"] or item["m2_numero_unico"] or item["e2_numero_unico"]}}</td>
                    </tr>
                    <tr>
                        <td>Fecha de elaboración</td>
                        <td>
                            {{
                                item["m_fecha_elaboracion"] or item["e_fecha_elaboracion"] or item["m2_fecha_elaboracion"] or item["e2_fecha_elaboracion"] or
                                item["m_fecha_etiquetado"] or item["e_fecha_etiquetado"] or item["m2_fecha_etiquetado"] or item["e2_fecha_etiquetado"]
                            }}
                        </td>
                    </tr>
                    <tr>
                        <td>Lote</td>
                        <td>{{item["m_lote"] or item["e_lote"] or item["m2_lote"] or item["e2_lote"]}}</td>
                    </tr>
                    <tr>
                        <td>Observaciones</td>
                        <td>{{item["m_observacion"] or item["e_observaciones"] or item["m2_observacion"] or item["e2_observaciones"] or ''}}</td>
                    </tr>
                    <tr>
                        <td>Cantidad</td>
                        <td>{{item["cantidad"]}}</td>
                    </tr>
                    <tr>
                        <td>Responsable</td>
                        <td>{{item["m_responsable"] or item["e_responsable"] or item["m2_responsable"] or item["e2_responsable"]}}</td>
                    </tr>
                </table>
                {% if not loop.last %}
                    <hr> <!-- Separador entre cada composición -->
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="m-2 text-center">
            <button class="btn btn-primary" id="print-barcode">Imprimir Código de Barras</button>
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
            
        </div>
    </div>
{% endblock %}