{% extends "base/base.html" %}

{% block header %}
    <script defer src="{{url_for("static", filename="js/mercaderia/utils.js")}}"></script>
    <script defer src="{{url_for("static", filename="js/hojalata/utils.js")}}"></script>
{% endblock %}

{% block content %}

<form action="agregar" method="post">

    <div class="row m-4 justify-content-center">
        <label for="denominacion" class="col-sm-2 col-form-label">Denominacion</label>
        <div class="col-sm-5">
            <input list="denominacion_opciones" required type="text" 
            class="form-control" name="denominacion" id="denominacion"
            onblur="validarMarca(); rellenarCantidad()" oninput="actualizarValoresOcultos()">
            <input type="hidden" id="cod_cls" name="cod_cls">
            <input type="hidden" id="cod_mae" name="cod_mae">
            <datalist id="denominacion_opciones">
                {% for p in productos_arballon %}
                    {% if '901' in (p.cod_mae | lower) or '902' in (p.cod_mae | lower) or '1061001001' in (p.cod_mae | lower) %}
                        <option value="{{ p.den | trim }}" 
                                data-cod-cls="{{ p.cod_cls | trim }}" 
                                data-cod-mae="{{ p.cod_mae | trim }}">
                        </option>
                    {% endif %}
                {% endfor %}
            </datalist>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-5">
            <input required type="datetime-local" class="form-control" name="fecha" id="fecha">
        </div>
    </div>
    
    <!-- lote hojalata -->
    <div class="row m-4 justify-content-center">
        <label for="lote_a" class="col-sm-2 col-form-label">
            Lote
        </label>
        <div class="col-sm-5 d-flex justify-content-between">
            <input required type="text" maxlength="1" class="form-control" style="width: 33%;" pattern="^[0-9]$"
            title="(Ej: 2024 -> 4, 2025 -> 5)"
            name="lote_a" id="lote_a"
            >
            
            <input required type="text" maxlength="7" 
            class="form-control" style="width: 33%;" pattern="^\d{3,7}$"
            title="Ingrese entre 3 y 7 dígitos numéricos (Ej: 123, 1234567)" name="lote_b" id="lote_b"
            >
            
            <input required type="text" maxlength="3" class="form-control" style="width: 33%;" pattern="^\d{3}$"
            title="(Ej: 30 de enero -> 030)"
            name="lote_c" id="lote_c"
            >
        </div>
    </div>
    <!-- lote hojalata -->

    <!-- lote cuerpo -->
    <!-- <div class="row m-4 justify-content-center">
        <label for="lote_cuerpo" class="col-sm-2 col-form-label">
            Lote cuerpo
        </label>
        <div class="col-sm-5 d-flex justify-content-between">
            <input required type="text" class="form-control" maxlength="20"
            name="lote_cuerpo" id="lote_cuerpo">
        </div>
    </div> -->
    <!-- lote cuerpo -->

    <!-- lote tapa -->
    <!-- <div class="row m-4 justify-content-center">
        <label for="lote_tapa" class="col-sm-2 col-form-label">
            Lote tapa
        </label>
        <div class="col-sm-5 d-flex justify-content-between">
            <input required type="text" class="form-control" maxlength="20"
            name="lote_tapa" id="lote_tapa">
        </div>
    </div> -->
    <!-- lote tapa -->

    <div class="row m-4 justify-content-center">
        <label for="parte" class="col-sm-2 col-form-label">Numero de parte</label>
        <div class="col-sm-5">
            <input required type="text" class="form-control" 
            value="{{ proximo_id }}"
            name="numero_unico" id="numero_unico"
            title="(Ej: 2025-H1-000001)" pattern="^\d{4}-(H1)-\d{6}$">
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label for="parte" class="col-sm-2 col-form-label">Numero de pallet interno</label>
        <div class="col-sm-5">
            <input required type="number" class="form-control" 
            value="{{ proximo_pallet_interno }}" max="4000000" min="0"
            name="numero_pallet_interno" id="numero_pallet_interno">
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
        <div class="col-sm-5">
            <input required type="number" min="1" max="108000" class="form-control" name="cantidad" id="cantidad">
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <label for="observaciones" class="col-sm-2 col-form-label">Observaciones</label>
        <div class="col-sm-5">
            <textarea class="form-control" id="observaciones" name="observaciones" 
            rows="4" maxlength="1000" placeholder="Ingrese observaciones"></textarea>
        </div>
    </div>

    <div class="row m-4 justify-content-center">
        <div class="m-2 text-center">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="javascript:void(0);" class="btn btn-secondary" onclick="boton_volver()">Volver</a>
        </div>
    </div>
</form>

{% endblock %}